<div class="card">
<div class="card-body">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum, quam at tristique hendrerit, mi lectus tincidunt magna, ac vehicula odio elit id ligula. Aliquam a bibendum odio, ac lobortis lectus. Nullam porta mi quis ex lacinia pellentesque vel quis neque. Quisque blandit non mauris euismod lacinia. Nullam dignissim justo ipsum, posuere accumsan lacus porta non. Nulla facilisi. Sed malesuada varius enim nec lobortis. Vestibulum molestie, lectus sit amet feugiat blandit, mi leo fringilla metus, nec pellentesque velit felis ac ligula. Ut quis ex in nisl interdum ultricies. Vestibulum varius tempus cursus.
  </div>
  <button class="card-button">
    Submit
  </button>
</div>
