<h1>Island Manager</h1>
<p>
  Currently implemented features:
  <ul>
    <li>Static pages: <a href="/">root</a>, <a href="/about">about</a></li>
    <li><a href="/user/me">user profile</a></li>
  </ul>
</p>

<%= form_with(url: "/login", method: "post") do %>
  <label for="email">Sign-in / Sign-up here with your email here</label>
  <input required type="email" name="email" id="email" />
  <br />
  <button type="submit">Login</button>
<% end %>

<br />

<%= form_with(url: "/logout", method: "post") do %>
  <button type="submit">Logout</button>
<% end %>
