/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --bg-0: #e9f5eb;
  --bg-1: #d8f1e1;
  --bg-2: #a5d5a5;

  --fg-1: rgba(0, 0, 0, 0.9);
  --fg-2: rgba(0, 0, 0, 0.9);

  --widget-0: #ef8341;
  --widget-1: rgba(0, 0, 0, 0.9);

  --gizmo-0: #f0e16f;
  --gizmo-1: rgba(0, 0, 0, 0.9);

  --dingus-0: #88c9a1;
  --dingus-1: rgba(0, 0, 0, 0.9);
}

@media (prefers-color-scheme: dark) { :root {
  --bg-0: #7b6c53;
  --bg-1: #9a8e79;
  --bg-2: #aca391;

  --fg-1: rgba(0, 0, 0, 0.9);
  --fg-2: rgba(0, 0, 0, 0.9);

  --widget-0: #ef8341;
  --widget-1: rgba(0, 0, 0, 0.9);

  --gizmo-0: #f0e16f;
  --gizmo-1: rgba(0, 0, 0, 0.9);

  --dingus-0: #88c9a1;
  --dingus-1: rgba(0, 0, 0, 0.9);
} }

.level-0 {
  background-color: var(--bg-0);
}

.level-1 {
  background-color: var(--bg-1);
  color: var(--fg-1);
  border-color: var(--fg-1);
}

.level-2 {
  background-color: var(--bg-2);
  color: var(--fg-2);
  border-color: var(--fg-2);
}

/* ------------------------------------ */

body {
  margin: 0;
  padding: 0;
}

main {
  line-height: 1.6em;
  font-size: 16px;
  font-family: sans-serif, OpenMoji;
  padding: 2em;
  padding-top: 1.5em;
  border-radius: 10px;
  margin: 2em auto 30vh;
  max-width: 800px;
  transition: margin 0.1s;
}

@media (max-width: calc(800px + 4em)) {
  main {
    margin-top: 0;
    border-radius: 0;
  }
}

code {
  border-color: var(--fg-1);
}

a:link, a:visited {
  color: var(--foreground);
}

button {
  border-color: var(--border);
  color: var(--foreground);
}

button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

@font-face {
  font-family: OpenMoji;
  src: url(OpenMoji-Black.ttf);
}

h1, h2, h3 {
  line-height: 1.2;
  margin: 0;
  font-family: "Zilla Slab", OpenMoji, serif;
}

code {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 8px;
  overflow-x: scroll;
}

pre > code {
  display: block;
}

button {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 16px;
  font-family: sans-serif, OpenMoji;
}

button:hover {
  cursor: pointer;
}

.flash {
  font-family: sans-serif, OpenMoji;
  margin: 2em auto 0;
  padding: 1em 2em;
  border-radius: 5px;
  max-width: 800px;
  transition: margin 0.1s;
}

@media (max-width: calc(800px + 4em)) {
  .flash {
    margin: 0;
    border-radius: 0;
  }
}

.flash.dingus {
  background-color: var(--dingus-0);
  color: var(--dingus-1);
}

.flash.widget {
  background-color: var(--widget-0);
  color: var(--widget-1);
}

.flash.gizmo {
  background-color: var(--gizmo-0);
  color: var(--gizmo-1);
}
