/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --background: #88C9A1;
  --foreground: #444;
  --border: #69B994;
  --red: rgb(255, 59, 48);
  --blue: rgb(0, 122, 255);
  --green: rgb(52, 199, 89);
  --yellow: rgb(255, 204, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #297B56;
    --foreground: #fefefe;
    --border: #69B994;
    --red: rgb(255, 69, 58);
    --blue: rgb(10, 132, 255);
    --green: rgb(48, 209, 88);
    --yellow: rgb(255, 214, 10);
  }
}


body {
  background-color: var(--background);
  color: var(--foreground);
  border-color: var(--border);
}

code {
  border-color: var(--border);
}

a:link, a:visited {
  color: var(--foreground);
}

button {
  border-color: var(--border);
  color: var(--foreground);
}

button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

@font-face {
  font-family: OpenMoji;
  src: url(OpenMoji-Black.ttf);
}

body {
  line-height: 1.6em;
  font-size: 16px;
  font-family: sans-serif, OpenMoji;
  padding: 2em;
  padding-top: 1.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 2em auto 30vh;
  max-width: 800px;
  transition: margin 0.1s, border-color 0.1s;
}
@media (max-width: calc(800px + 4em)) {
  body {
    margin-top: 0;
    border-color: transparent;
  }
}

h1, h2, h3 {
  line-height: 1.2;
  margin: 0;
  font-family: "Zilla Slab", OpenMoji, serif;
}

code {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 8px;
  overflow-x: scroll;
}

pre > code {
  display: block;
}

button {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 16px;
  font-family: sans-serif, OpenMoji;
}

button:hover {
  cursor: pointer;
}

.flash {
  padding: 2px 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--foreground);
  color: var(--foreground);
}

.flash.success {
  border-color: var(--green);
}

.flash.danger {
  border-color: var(--red);
}

.flash.warning {
  border-color: var(--yellow);
}

.flash.info {
  border-color: var(--blue);
}
